/*
 * [ settings / icon ]
 */

// -----------------------------------------------------------------------------

$icons: (
        gsap: 'e902',
        tailwindcss: 'e903',
        nuxt: 'e904',
        vue: 'e905',
        trash: 'e906',
        home: 'e907',
        card: 'e908',
        facebook: 'e909',
        garantied: 'e90a',
        handshake: 'e90b',
        delivery: 'e90c',
        quote: 'e90d',
        instagram: 'e90e',
        arrow-top-light: 'e90f',
        arrow-right-light: 'e910',
        plus: 'e911',
        arrow-bottom: 'e912',
        arrow-top: 'e913',
        arrow-right: 'e914',
        arrow-left: 'e915',
        angle-top: 'e916',
        angle-right: 'e917',
        angle-left: 'e918',
        angle-bottom: 'e919',
        check: 'e91a',
        star-half: 'e91b',
        minus: 'e91c',
        tool: 'e91d',
        cancel: 'e91e',
        twitter: 'e91f',
        facebook1: 'e920',
        linkedin: 'e921',
        code: 'e922',
        search: 'e923',
        map: 'e924',
        account: 'e925',
        contact: 'e926',
        cart: 'e927',
        star-empty: 'e928',
        star: 'e929',
        heart: 'e92a',
        clock: 'e92b',
        file: 'e92c',
        envelope: 'e92d',
        download: 'e92e',
        phone: 'e92f',
        smartphone: 'e930',
        menu: 'e931',
        close-light: 'e932',
);

@function str-unicode($str) {
    @return unquote("\"") + unquote(str-insert($str, "\\", 1)) + unquote("\"")
}

@function unicode($icon) {
    @return str-unicode(quote(map-get($icons, $icon)));
}
