/*
 * [ components / button ]
 */

// -----------------------------------------------------------------------------


@layer components {
    .Button {
        @apply rounded-3xl text-secondary-base font-bold bg-gradient-to-r from-primary-base to-primary-dark shadow-lg shadow-primary-base/50 text-xl py-3 px-6 transition-fast hover:shadow-md hover:shadow-sm;
    }

    .Button--small {
        @apply py-2 px-4;
    }
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
    transition: $property $duration $ease;
}

.Button-link {
    @apply relative inline-block align-middle cursor-pointer border-0 outline-0 p-0 bg-transparent h-auto w-48;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;

    .Button-link-circle {
        @apply bg-primary-base relative block m-0 w-10 h-10;
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
        border-radius: 1.625rem;

        .Button-link-icon {
            @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
            @apply bg-white top-0 bottom-0 absolute m-auto;

            &.arrow {
                @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
                left: 4px;
                width: 1.125rem;
                height: 0.125rem;
                @apply bg-transparent;

                &::before {
                    @apply absolute;
                    content: '';
                    top: -0.25rem;
                    right: -0.07rem;
                    width: 0.625rem;
                    height: 0.625rem;
                    border-top: 0.125rem solid theme('colors.secondary.base');
                    border-right: 0.125rem solid theme('colors.secondary.base');
                    transform: rotate(45deg);
                }
            }
        }
    }

    .Button-link-text {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
        @apply absolute inset-0 text-primary-base font-bold text-center;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        line-height: 1.3;
    }

    &:hover {
        .Button-link-circle {
            @apply w-full;

            .Button-link-icon {
                &.arrow {
                    @apply bg-secondary-base;
                    transform: translate(1rem, 0);
                }
            }
        }

        .Button-link-text {
            @apply text-secondary-base;
        }
    }
}
