/*
 * [ settings / icon ]
 */

// -----------------------------------------------------------------------------

$icons: (
    github: 'e900',
    gsap: 'e903',
    tailwindcss: 'e904',
    nuxt: 'e905',
    vue: 'e906',
    trash: 'e907',
    home: 'e908',
    card: 'e909',
    facebook: 'e90a',
    garantied: 'e90b',
    handshake: 'e90c',
    delivery: 'e90d',
    quote: 'e90e',
    instagram: 'e90f',
    arrow-top-light: 'e910',
    arrow-right-light: 'e911',
    plus: 'e912',
    arrow-bottom: 'e913',
    arrow-top: 'e914',
    arrow-right: 'e915',
    arrow-left: 'e916',
    angle-top: 'e917',
    angle-right: 'e918',
    angle-left: 'e919',
    angle-bottom: 'e91a',
    check: 'e91b',
    star-half: 'e91c',
    minus: 'e91d',
    tool: 'e91e',
    cancel: 'e91f',
    twitter: 'e920',
    facebook1: 'e921',
    linkedin: 'e922',
    code: 'e923',
    search: 'e924',
    map: 'e925',
    account: 'e926',
    contact: 'e927',
    cart: 'e928',
    star-empty: 'e929',
    star: 'e92a',
    heart: 'e92b',
    clock: 'e92c',
    file: 'e92d',
    envelope: 'e92e',
    download: 'e92f',
    phone: 'e930',
    smartphone: 'e931',
    menu: 'e932',
    close-light: 'e933',
);

@function str-unicode($str) {
    @return unquote("\"") + unquote(str-insert($str, "\\", 1)) + unquote("\"")
}

@function unicode($icon) {
    @return str-unicode(quote(map-get($icons, $icon)));
}
