/*
 * [ animations / list ]
 */

// -----------------------------------------------------------------------------

.list-enter, .list-appear {
    transform: scale(0);
}
.list-enter-active, .list-appear-active {
    transform: scale(1);
    transition: transform 300ms;
}
.list-exit {
    transform: scale(1);
}
.list-exit-active {
    transform: scale(0);
    transition: transform 300ms;
}
